.switch-checkbox-uncontrol {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

.switch-label-uncontrol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.switch-label-uncontrol .switch-button-uncontrol {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox-uncontrol:checked
  + .switch-label-uncontrol
  .switch-button-uncontrol {
  transform: translateX(115%);
  animation-duration: 3s;
  animation-name: color;
}

.switch-checkbox-uncontrol:disabled + .switch-label-uncontrol {
  background: #d3d3d3;
}

@keyframes color {
  from {
    background: #fff;
  }

  30% {
    background: red;
  }

  60% {
    background: green;
  }

  to {
    background: #fff;
  }
}
